bazel-*
.vscode
application/SWUpdateClientNVAdapter/SwucNvAdapter_app/.adpa/log/
*.dcusr
tools/bazel/*
tools/*.sh
*.kdev4
__pycache__
.pytest_cache
.coverage
os/qnx/qemu_x86_64/runtime
os/qnx/qemu_x86_64/adaptive
out
