# This is the `CODEOWNERS` file for minerva_mpu_adaptive based on the documentation found
# here https://git.swf.daimler.com/help/user/project/code_owners.md

# However the code owner in the MR is still an optional reviewer.
# To make it useful we would need to have Gitlab silver/premium:
# https://docs.gitlab.com/ee/user/project/protected_branches.html#protected-branches-approval-by-code-owners

# Protect folders and their default reviewers
/bsw/ @andzisu @sathire @dkurbak @atmehra @atpanig @saksinh @twilmer
/application/ @andzisu @sathire @dkurbak @atmehra @atpanig @saksinh @twilmer
/application/swc/ @heimess @joaepp
/application/swc/module_templates/autocode_module/ @sonyap @pkandha

# CI/CD and devops team
/devops/ @mcherlo @ftrevin
Jenkinsfile @mcherlo @ftrevin

# All the bazel related files shall need an approval by the ECU SW Integration team
/build_env/ @dabalan @jjochen @vargrob @imierlu @sshopov
BUILD @dabalan @jjochen @vargrob @imierlu @sshopov
WORKSPACE @dabalan @jjochen @vargrob @imierlu @sshopov
.bazelrc @dabalan @jjochen @vargrob @imierlu @sshopov
*.BUILD @dabalan @jjochen @vargrob @imierlu @sshopov
*.bzl* @dabalan @jjochen @vargrob @imierlu @sshopov
